# Created by https://www.gitignore.io/api/gradle,java,eclipse,intellij

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# End of https://www.gitignore.io/api/gradle,java,eclipse,intellij
/train-tachograph/build/sonar/.sonar_lock
/train-tachograph/build/reports/tests/test/css/base-style.css
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/branchfc.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/branchnc.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/branchpc.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/bundle.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/class.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/down.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/greenbar.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/group.gif
/train-tachograph/build/reports/tests/test/packages/hu.bme.mit.train.tachograph.html
/train-tachograph/build/reports/tests/test/classes/hu.bme.mit.train.tachograph.TestTachograph.html
/train-tachograph/build/reports/jacoco/test/html/hu.bme.mit.train.tachograph/index.html
/train-tachograph/build/reports/jacoco/test/html/index.html
/train-tachograph/build/reports/tests/test/index.html
/train-tachograph/build/reports/jacoco/test/html/hu.bme.mit.train.tachograph/index.source.html
/train-tachograph/build/reports/jacoco/test/html/jacoco-sessions.html
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/method.gif
/train-tachograph/build/test-results/test/binary/output.bin
/train-tachograph/build/test-results/test/binary/output.bin.idx
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/package.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/prettify.css
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/prettify.js
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/redbar.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/report.css
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/report.gif
/train-tachograph/build/reports/tests/test/js/report.js
/train-tachograph/build/sonar/report-task.txt
/train-tachograph/build/test-results/test/binary/results.bin
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/session.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/sort.gif
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/sort.js
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/source.gif
/train-tachograph/build/reports/tests/test/css/style.css
/train-tachograph/build/jacoco/test.exec
/train-tachograph/build/test-results/test/TEST-hu.bme.mit.train.tachograph.TestTachograph.xml
/train-tachograph/build/reports/jacoco/test/html/hu.bme.mit.train.tachograph/TrainTachograph.html
/train-tachograph/build/reports/jacoco/test/html/hu.bme.mit.train.tachograph/TrainTachograph.java.html
/train-tachograph/build/reports/jacoco/test/html/jacoco-resources/up.gif
